{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "rules": {
      "prettier/prettier": "error"
    }
}
