{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "cypress/globals": true,
    "jasmine": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off"
  }
}
