language: node_js

jobs:
  include:
    - stage: test
      node_js: 6
      script: npm run test
      node_js: 8
      script: npm run test
      node_js: 10
      script: npm run test
    - node_js: 12
      #FIXME remove CI=false after linting warnings in transactionReducer are fixed.
      script: CI=false npm run build

deploy:
  provider: script
  script: "npm run deploy"
  skip_cleanup: true
  on:
    tags: true
    branch: master

notifications:
  email:
    recipients:
    - chris@unchained-capital.com
    on_success: change
    on_failure: always

before_deploy:
- git remote set-url origin https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git
- git config --global user.email "Travis CI<ci@unchained-capital.com>"
- git config --global user.name "TravisCI"
